<#@ template language="C#" visibility="internal" linePragmas="false" #>
using System;

namespace ValueObjectGenerator
{
    internal class RangeAttribute : Attribute
    {
        public object Min { get; }
        public object Max { get; }

        public RangeAttribute( object min, object max )
        {
            Min  = min;
            Max  = max;
        }
    }
}
