<#@ template language="C#" visibility="internal" linePragmas="false" #>
using System;

namespace ValueObjectGenerator
{
    internal class ValueNonNegativeAttribute : Attribute
    {
        public ValueNonNegativeAttribute() {}
    }
}
